<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
</head>

<body>


<header th:replace="~{layout :: app-header}"></header>

<main>
    <h2>Error 404</h2>
    <p>The page is not found.</p>

  <ul>
      <li>Method: <span th:text="${method}">GET</span></li>
      <li>Path: <span th:text="${path}">/unknown</span></li>
  </ul>

  <p>
      <a th:href="@{/word}">Back to Abc Blocks</a>
  </p>
</main>


<footer th:replace="~{layout :: app-footer}"></footer>

</body>
</html>
